@import url('https://fonts.googleapis.com/css?family=Raleway|Playfair+Display');
.book.font-family-0 {font-family: "Playfair Display", Georgia, serif;}
.book.font-family-1 {font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;}


@media (max-width: 767.98px) {
  .rmdnote, .rmdcaution, .rmdimportant, .rmdtip, .rmdwarning {
    margin: 1rem -1rem;
    border-width: 4px;
  }
}

.rmdnote {
  border-color: var(--primary);
}
.rmdimportant {
  border-color: var(--success);
}
.rmdcaution {
  border-color: var(--danger);
}
.rmdwarning {
  border-color: var(--warning);
}
.rmdtip {
  border-color: var(--info);
}

.rmdcaution pre, .rmdimportant pre, .rmdnote pre, .rmdtip pre, .rmdwarning pre {
  /* Make code blocks full width in rmdnote */
  margin: 0 -1rem 1rem -1rem;
  padding: 1rem;
}

.rmdcaution .btn-copy, .rmdimportant .btn-copy, .rmdnote .btn-copy, .rmdtip .btn-copy, .rmdwarning .btn-copy {
  /* Needs to be set according to margin in callout pre block */
  right: -1rem;
}

